<!DOCTYPE html>
<html>
  <head>
    <title>SimpleProjectManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render 'layouts/libraries' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='bg-light'>
    <%= render 'shared/nav' %>
    <div class="container pt-5">
      <p class="notice mt-2"><%= notice %></p>
      <p class="alert mt-2"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
